---
title: lil' founder
layout: layouts/home.njk
description: Product manager and founder
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: 2025-01-14
---

<div id="posts">
  {# <h2>Posts</h2> #}
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>